.navbar-custom {
    height: 136px;
}

.h1-container {
    /* z-index: 100; */
    height: calc(100vh - 136px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* position: relative;
    z-index: 1; */
}

.h1-container a {
    background-color: #0077CC;
    margin-top: 10px;
}

.h1-container a:hover {
    background-color: #005FA3;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; /* Pushes footer down */
}

footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 1rem;
}



/* Keep styliong navbar */